# Aviation Accidents Analysis

You are part of a consulting firm that is tasked to do an analysis of commercial and passenger jet airline safety. The client (an airline/airplane insurer) is interested in knowing what types of aircraft (makes/models) exhibit low rates of total destruction and low likelihood of fatal or serious passenger injuries in the event of an accident. They are also interested in any general variables/conditions that might be at play. Your analysis will be based off of aviation accident data accumulated from the years 1948-2023. 

Our client is only interested in airplane makes/models that are professional builds and could potentially still be active. Assume a max lifetime of 40 years for a make/model retirement and make sure to filter your data accordingly (i.e. from 1983 onwards). They would also like separate recommendations for small aircraft vs. larger passenger models. **In addition, make sure that claims that you make are statistically robust and that you have enough samples when making comparisons between groups.**


In this summative assessment you will demonstrate your ability to:
- **Use Pandas to load, inspect, and clean the dataset appropriately.**
- **Transform relevant columns to create measures that address the problem at hand.**
- conduct EDA: visualization and statistical measures to systematically understand the structure of the data
- recommend a set of airplanes and makes conforming to the client's request and identify at least *two* factors contributing to airplane safety. You must provide supporting evidence (visuals, summary statistics, tables) for each claim you make.

### Make relevant library imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Data Loading and Inspection

### Load in data from the relevant directory and inspect the dataframe.
- inspect NaNs, datatypes, and summary statistics

In [2]:
# Read CSV and normalize headers to snake_case
import pandas as pd
df = pd.read_csv("data/AviationData.csv", encoding="latin1")

df.columns = (df.columns
              .str.strip()
              .str.lower()
              .str.replace(r'[^0-9a-z]+','_', regex=True)
              .str.strip('_'))

# Initial inspection
display(df.head())
df.info()
df.isna().sum()
df.describe(include="all")

/var/folders/wg/j89dzhfn1z17b36_t8g6rcjr0000gn/T/ipykernel_89723/3966532462.py:3: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/AviationData.csv", encoding="latin1")

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,...,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                88889 non-null  object
 1   investigation_type      88889 non-null  object
 2   accident_number         88889 non-null  object
 3   event_date              88889 non-null  object
 4   location                88837 non-null  object
 5   country                 88663 non-null  object
 6   latitude                34382 non-null  object
 7   longitude               34373 non-null  object
 8   airport_code            50132 non-null  object
 9   airport_name            52704 non-null  object
 10  injury_severity         87889 non-null  object
 11  aircraft_damage         85695 non-null  object
 12  aircraft_category       32287 non-null  object
 13  registration_number     87507 non-null  object
 14  make                    88826 non-null  object
 15  model                   88797 non-null  object
 16  amateur_built           88787 non-null  object
 17  number_of_engines       82805 non-null  float64
 18  engine_type             81793 non-null  object
 19  far_description         32023 non-null  object
 20  schedule                12582 non-null  object
 21  purpose_of_flight       82697 non-null  object
 22  air_carrier             16648 non-null  object
 23  total_fatal_injuries    77488 non-null  float64
 24  total_serious_injuries  76379 non-null  float64
 25  total_minor_injuries    76956 non-null  float64
 26  total_uninjured         82977 non-null  float64
 27  weather_condition       84397 non-null  object
 28  broad_phase_of_flight   61724 non-null  object
 29  report_status           82505 non-null  object
 30  publication_date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,...,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
count,88889,88889,88889,88889,88837,88663,34382,34373,50132,52704,...,82697,16648,77488.000000,76379.000000,76956.000000,82977.000000,84397,61724,82505,75118
unique,87951,2,88863,14782,27758,219,25592,27156,10374,24870,...,26,13590,NaN,NaN,NaN,NaN,4,12,17074,2924
top,20001212X19172,Accident,CEN22LA149,1984-06-30,"ANCHORAGE, AK",United States,332739N,0112457W,NONE,Private,...,Personal,Pilot,NaN,NaN,NaN,NaN,VMC,Landing,Probable Cause,25-09-2020
freq,3,85015,2,25,434,82248,19,24,1488,240,...,49448,258,NaN,NaN,NaN,NaN,77303,15428,61754,17019
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.647855,0.279881,0.357061,5.325440,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.485960,1.544084,2.235625,27.913634,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,1.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,2.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,349.000000,161.000000,380.000000,699.000000,NaN,NaN,NaN,NaN

## Data Cleaning

### Filtering aircrafts and events

We want to filter the dataset to include aircraft that the client is interested in an analysis of:
- inspect relevant columns
- figure out any reasonable imputations
- filter the dataset

In [3]:
# Inspect a few key columns (only if present)
for col in ["make", "model", "engine_type", "aircraft_damage", "aircraft_category", "event_date"]:
    if col in df.columns:
        print(f"\n{col} value counts:")
        print(df[col].value_counts(dropna=False).head(10))

# Parse event_date and filter to 1983+
if "event_date" in df.columns:
    df["event_date"] = pd.to_datetime(df["event_date"], errors="coerce")
    df = df[df["event_date"].dt.year >= 1983]

# Restrict to airplanes only, if the column exists
if "aircraft_category" in df.columns:
    df = df[df["aircraft_category"].astype('string').str.upper().str.contains("AIRPLANE", na=False)]

# Drop rows missing make/model if those columns exist
need_cols = [c for c in ["make","model"] if c in df.columns]
if need_cols:
    df = df.dropna(subset=need_cols)

print("Filtered shape:", df.shape)

make value counts:
make
Cessna     22227
Piper      12029
CESSNA      4922
Beech       4330
PIPER       2841
Bell        2134
Boeing      1594
BOEING      1151
Grumman     1094
Mooney      1092
Name: count, dtype: int64

model value counts:
model
152          2367
172          1756
172N         1164
PA-28-140     932
150           829
172M          798
172P          689
182           659
180           622
150M          585
Name: count, dtype: int64

engine_type value counts:
engine_type
Reciprocating      69530
NaN                 7096
Turbo Shaft         3609
Turbo Prop          3391
Turbo Fan           2481
Unknown             2051
Turbo Jet            703
Geared Turbofan       12
Electric              10
LR                     2
Name: count, dtype: int64

aircraft_damage value counts:
aircraft_damage
Substantial    64148
Destroyed      18623
NaN             3194
Minor           2805
Unknown          119
Name: count, dtype: int64

aircraft_category value counts:
aircraft_category
NaN                  56602
Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
Name: count, dtype: int64

event_date value counts:
event_date
1984-06-30    25
1982-05-16    25
2000-07-08    25
1983-08-05    24
1984-08-25    24
1986-05-17    24
1983-06-05    24
1982-10-03    23
1982-07-09    23
1988-08-07    23
Name: count, dtype: int64
Filtered shape: (24421, 31)

In [4]:
# normalize headers to snake_case
df.columns = (df.columns
              .str.strip()
              .str.lower()
              .str.replace(r'[^a-z0-9]+','_', regex=True)
              .str.strip('_'))

# quick check
df.columns.tolist()

['event_id',
 'investigation_type',
 'accident_number',
 'event_date',
 'location',
 'country',
 'latitude',
 'longitude',
 'airport_code',
 'airport_name',
 'injury_severity',
 'aircraft_damage',
 'aircraft_category',
 'registration_number',
 'make',
 'model',
 'amateur_built',
 'number_of_engines',
 'engine_type',
 'far_description',
 'schedule',
 'purpose_of_flight',
 'air_carrier',
 'total_fatal_injuries',
 'total_serious_injuries',
 'total_minor_injuries',
 'total_uninjured',
 'weather_condition',
 'broad_phase_of_flight',
 'report_status',
 'publication_date']

In [5]:
# choose the columns you want to clean if they exist
to_clean = [c for c in ["make","model","engine_type","aircraft_damage"] if c in df.columns]

for col in to_clean:
    df[col] = (df[col]
               .astype("string")
               .str.strip()
               .str.upper())

In [6]:
df.info()
df.isna().sum()
df.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
Index: 24421 entries, 4149 to 88886
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                24421 non-null  object
 1   investigation_type      24421 non-null  object
 2   accident_number         24421 non-null  object
 3   event_date              24421 non-null  datetime64[ns]
 4   location                24414 non-null  object
 5   country                 24420 non-null  object
 6   latitude                22080 non-null  object
 7   longitude               22071 non-null  object
 8   airport_code            16072 non-null  object
 9   airport_name            16170 non-null  object
 10  injury_severity         23609 non-null  object
 11  aircraft_damage         23186 non-null  string
 12  aircraft_category       24421 non-null  object
 13  registration_number     24189 non-null  object
 14  make                    24421 non-null  string
 15  model                   24421 non-null  string
 16  amateur_built           24405 non-null  object
 17  number_of_engines       21672 non-null  float64
 18  engine_type             20208 non-null  string
 19  far_description         23922 non-null  object
 20  schedule                2565 non-null   object
 21  purpose_of_flight       20694 non-null  object
 22  air_carrier             11061 non-null  object
 23  total_fatal_injuries    21278 non-null  float64
 24  total_serious_injuries  21224 non-null  float64
 25  total_minor_injuries    21569 non-null  float64
 26  total_uninjured         23535 non-null  float64
 27  weather_condition       21377 non-null  object
 28  broad_phase_of_flight   3228 non-null   object
 29  report_status           19458 non-null  object
 30  publication_date        23423 non-null  object
dtypes: datetime64[ns](1), float64(5), object(21), string(4)
memory usage: 6.0+ MB

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,...,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
count,24421,24421,24421,24421,24414,24420,22080,22071,16072,16170,...,20694,11061,21278.000000,21224.000000,21569.000000,23535.000000,21377,3228,19458,23423
unique,24369,2,24400,NaN,11359,166,17044,17912,5831,9940,...,25,9415,NaN,NaN,NaN,NaN,4,12,14513,829
top,20001214X42478,Accident,WPR22LA143,NaN,"Anchorage, AK",United States,334118N,0112457W,PVT,Private,...,Personal,Pilot,NaN,NaN,NaN,NaN,VMC,Landing,Probable Cause,25-09-2020
freq,2,22886,2,NaN,99,21061,17,23,284,174,...,14368,231,NaN,NaN,NaN,NaN,19945,1398,3227,14483
mean,NaN,NaN,NaN,2013-09-27 16:10:38.008271616,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.694708,0.314314,0.250869,6.900574,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,1983-03-18 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,2009-08-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,2013-10-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,1.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,2018-05-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,2.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,2022-12-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,295.000000,161.000000,380.000000,588.000000,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6.356920,2.235744,3.068273,33.572102,NaN,NaN,NaN,NaN

### Cleaning and constructing Key Measurables

Injuries and robustness to destruction are a key interest point for the client. Clean and impute relevant columns and then create derived fields that best quantifies what the client wishes to track. **Use commenting or markdown to explain any cleaning assumptions as well as any derived columns you create.**

**Construct metric for fatal/serious injuries**

*Hint:* Estimate the total number of passengers on each flight. The likelihood of serious / fatal injury can be estimated as a fraction from this.

In [7]:
# --- Map injury columns to stable names and build metrics ---
# The CSV uses Total.Fatal.Injuries, etc. (now snake_case). We'll rename them.
rename_map = {}
if "total_fatal_injuries" in df.columns:   rename_map["total_fatal_injuries"]   = "injuries_fatal"
if "total_serious_injuries" in df.columns: rename_map["total_serious_injuries"] = "injuries_serious"
if "total_minor_injuries" in df.columns:   rename_map["total_minor_injuries"]   = "injuries_minor"
if "total_uninjured" in df.columns:        rename_map["total_uninjured"]        = "uninjured"
df = df.rename(columns=rename_map)

# Ensure numeric
for col in ["injuries_fatal","injuries_serious","injuries_minor","uninjured"]:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors="coerce")

# Build injuries_total if not present
if "injuries_total" not in df.columns:
    parts = [c for c in ["injuries_fatal","injuries_serious","injuries_minor","uninjured"] if c in df.columns]
    if parts:
        df["injuries_total"] = df[parts].sum(axis=1, min_count=1)

# Derived metrics
df["fatal_serious_injuries"] = df.get("injuries_fatal", 0).fillna(0) + df.get("injuries_serious", 0).fillna(0)
if "injuries_total" in df.columns:
    df["fatal_serious_rate"] = df["fatal_serious_injuries"] / df["injuries_total"].replace(0, pd.NA)
else:
    df["fatal_serious_rate"] = pd.NA

# Quick preview
df[[c for c in ["injuries_fatal","injuries_serious","injuries_minor","uninjured","injuries_total","fatal_serious_injuries","fatal_serious_rate"] if c in df.columns]].head()

,injuries_fatal,injuries_serious,injuries_minor,uninjured,injuries_total,fatal_serious_injuries,fatal_serious_rate
4149,NaN,NaN,NaN,588.0,588.0,0.0,0.0
4150,NaN,NaN,NaN,588.0,588.0,0.0,0.0
4171,1.0,1.0,NaN,NaN,2.0,2.0,1.0
4285,1.0,NaN,NaN,4.0,5.0,1.0,0.2
5957,NaN,NaN,NaN,289.0,289.0,0.0,0.0

**Aircraft.Damage**
- identify and execute any cleaning tasks
- construct a derived column tracking whether an aircraft was destroyed or not.

In [8]:

# pick the correct column name (your CSV has "Aircraft.damage" which becomes "aircraft_damage" after normalization)
col = "aircraft_damage" if "aircraft_damage" in df.columns else "Aircraft.damage"

# clean values: trim spaces, uppercase, normalize a couple common variants
df[col] = (
    df[col].astype(str)
            .str.strip()
            .str.upper()
            .replace({"NO DAMAGE": "NONE", "N/A": pd.NA, "": pd.NA})
)

# derived binary column: 1 if DESTROYED else 0
df["destroyed"] = (df[col] == "DESTROYED").astype("int8")

# quick peek (optional)
df[[col, "destroyed"]].head()

     aircraft_damage  destroyed
4149           MINOR          0
4150           MINOR          0
4171       DESTROYED          1
4285            <NA>          0
5957           MINOR          0

### Investigate the *Make* column
- Identify cleaning tasks here
- List cleaning tasks clearly in markdown
- Execute the cleaning tasks
- For your analysis, keep Makes with a reasonable number (you can put the threshold at 50 though lower could work as well)

In [9]:
import pandas as pd

# Clean
if "make" in df.columns:
    df["make"] = (df["make"].astype(str).str.strip().str.upper()
                  .replace({"UNKNOWN": pd.NA, "N/A": pd.NA, "": pd.NA}))

# Quick look
if "make" in df.columns:
    display(df["make"].value_counts(dropna=False).head(20))

# (Optional) keep only makes with enough events to be reliable
min_n = 30  # adjust to your lab’s guidance
if "make" in df.columns:
    keep_makes = set(df["make"].value_counts().loc[lambda s: s >= min_n].index)
    if keep_makes:
        df = df[df["make"].isin(keep_makes)]
print("Rows after Make filter:", df.shape)

make
CESSNA                7146
PIPER                 3993
BEECH                 1434
BOEING                1276
MOONEY                 363
AIRBUS                 245
CIRRUS DESIGN CORP     220
BELLANCA               220
AIR TRACTOR INC        219
MAULE                  215
AIR TRACTOR            206
AERONCA                200
CHAMPION               158
EMBRAER                152
GRUMMAN                148
LUSCOMBE               141
CIRRUS                 137
STINSON                129
VANS                   125
MCDONNELL DOUGLAS      110
Name: count, dtype: int64

Rows after Make filter: (18772, 35)

### Inspect Model column
- Get rid of any NaNs.
- Inspect the column and counts for each model/make. Are model labels unique to each make?
- If not, create a derived column that is a unique identifier for a given plane type.

In [10]:
# Clean
if "model" in df.columns:
    df["model"] = (df["model"].astype(str).str.strip().str.upper()
                   .replace({"UNKNOWN": pd.NA, "N/A": pd.NA, "": pd.NA}))
    df = df.dropna(subset=["model"])

# Create a combined identifier used later for grouping
if {"make","model"}.issubset(df.columns):
    df["make_model"] = (df["make"].fillna("UNK") + " " + df["model"].fillna("UNK")).str.strip()

# Peek
display(df[["make","model","make_model"]].head())

              make      model          make_model
4150        BOEING        747          BOEING 747
4171         PIPER  PA-28-140     PIPER PA-28-140
4285  DE HAVILLAND      DHC-6  DE HAVILLAND DHC-6
5957       DOUGLAS   DC-10-10    DOUGLAS DC-10-10
6760        BOEING    727-200      BOEING 727-200

### Cleaning other columns
- there are other columns containing data that might be related to the outcome of an accident. We list a few here:
- Engine.Type
- Weather.Condition
- Number.of.Engines
- Purpose.of.flight
- Broad.phase.of.flight

Inspect and identify potential cleaning tasks in each of the above columns. Execute those cleaning tasks. 

**Note**: You do not necessarily need to impute or drop NaNs here.

In [11]:
# Engine type
if "engine_type" in df.columns:
    df["engine_type"] = (df["engine_type"].astype(str).str.strip().str.upper()
                         .replace({"UNKNOWN": pd.NA, "NONE": pd.NA, "N/A": pd.NA}))

# Weather condition
if "weather_condition" in df.columns:
    df["weather_condition"] = (df["weather_condition"].astype(str).str.strip().str.upper()
                               .replace({"UNKNOWN": pd.NA, "N/A": pd.NA, "": pd.NA}))

# Broad phase of flight
if "broad_phase_of_flight" in df.columns:
    df["broad_phase_of_flight"] = (df["broad_phase_of_flight"].astype(str).str.strip().str.upper()
                                   .replace({"UNKNOWN": pd.NA, "N/A": pd.NA}))

# Number of engines (+ derived single_engine flag)
if "number_of_engines" in df.columns:
    df["number_of_engines"] = pd.to_numeric(df["number_of_engines"], errors="coerce").astype("Int64")
    df["single_engine"] = (df["number_of_engines"] == 1).astype("Int8")

# Purpose of flight
if "purpose_of_flight" in df.columns:
    df["purpose_of_flight"] = (df["purpose_of_flight"].astype(str).str.strip().str.upper()
                               .replace({"UNKNOWN": pd.NA, "N/A": pd.NA}))

# Final glance
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18771 entries, 4150 to 88886
Data columns (total 37 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                18771 non-null  object
 1   investigation_type      18771 non-null  object
 2   accident_number         18771 non-null  object
 3   event_date              18771 non-null  datetime64[ns]
 4   location                18765 non-null  object
 5   country                 18770 non-null  object
 6   latitude                16763 non-null  object
 7   longitude               16760 non-null  object
 8   airport_code            12227 non-null  object
 9   airport_name            12331 non-null  object
 10  injury_severity         18040 non-null  object
 11  aircraft_damage         18771 non-null  object
 12  aircraft_category       18771 non-null  object
 13  registration_number     18575 non-null  object
 14  make                    18771 non-null  object
 15  model                   18771 non-null  object
 16  amateur_built           18758 non-null  object
 17  number_of_engines       16522 non-null  Int64
 18  engine_type             18640 non-null  object
 19  far_description         18398 non-null  object
 20  schedule                2275 non-null   object
 21  purpose_of_flight       18432 non-null  object
 22  air_carrier             8846 non-null   object
 23  injuries_fatal          16298 non-null  float64
 24  injuries_serious        16221 non-null  float64
 25  injuries_minor          16461 non-null  float64
 26  uninjured               18143 non-null  float64
 27  weather_condition       18771 non-null  object
 28  broad_phase_of_flight   18759 non-null  object
 29  report_status           14748 non-null  object
 30  publication_date        17918 non-null  object
 31  injuries_total          18715 non-null  float64
 32  fatal_serious_injuries  18771 non-null  float64
 33  fatal_serious_rate      17960 non-null  object
 34  destroyed               18771 non-null  int8
 35  make_model              18771 non-null  object
 36  single_engine           16522 non-null  Int8
dtypes: Int64(1), Int8(1), datetime64[ns](1), float64(6), int8(1), object(27)
memory usage: 5.2+ MB

### Column Removal
- inspect the dataframe and drop any columns that have too many NaNs

In [12]:
drop_cols = [
    "report_status", "publication_date",   # doc metadata
    "registration_number",                 # not needed for aggregation
    # Geo/airport fields if not used in analysis:
    # "latitude","longitude","airport_name","airport_code"
]
df = df.drop(columns=[c for c in drop_cols if c in df.columns])
df.head(3)

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,...,injuries_minor,uninjured,weather_condition,broad_phase_of_flight,injuries_total,fatal_serious_injuries,fatal_serious_rate,destroyed,make_model,single_engine
4150,20001214X42478,Incident,LAX83IA149A,1983-03-18,"LOS ANGELES, CA",United States,NaN,NaN,LAX,LOS ANGELES INTL,...,NaN,588.0,VMC,TAXI,588.0,0.0,0.0,0,BOEING 747,0
4171,20001214X42331,Accident,ATL83FA140,1983-03-20,"CROSSVILLE, TN",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,IMC,CRUISE,2.0,2.0,1.0,1,PIPER PA-28-140,1
4285,20001214X42672,Accident,FTW83LA177,1983-04-02,"MCKINNEY, TX",United States,NaN,NaN,TX05,AERO COUNTRY,...,NaN,4.0,VMC,STANDING,5.0,1.0,0.2,0,DE HAVILLAND DHC-6,0

### Save DataFrame to csv
- its generally useful to save data to file/server after its in a sufficiently cleaned or intermediate state
- the data can then be loaded directly in another notebook for further analysis
- this helps keep your notebooks and workflow readable, clean and modularized

In [13]:
from pathlib import Path

# save to the same folder where the original CSV lives
data_dir = Path("data")
data_dir.mkdir(parents=True, exist_ok=True)

out_path = data_dir / "aviation_clean.csv"
df.to_csv(out_path, index=False)

print(f"Saved: {out_path} | rows={len(df):,} | cols={df.shape[1]}")

Saved: data/aviation_clean.csv | rows=18,771 | cols=34